scrapy
beautifulsoup4
webdriver_manager
selenium
supabase
fake-useragent
seletools
undetected-chromedriver
setuptools
python-dotenv
psycopg2-binary
requests
simple-term-menu
convex
Pillow
chromedriver
openai-whisper
yt-dlp